<div class="container-md main" style="margin-top: 120px;">
    <div>
        <ng-container *ngFor="let currentWeekOfSchool of currentWeekOfSchools">
            <ng-container *ngIf="currentWeekOfSchool.termName !== '暂无学期安排'">
                <p style=" font-size: 16px;">
                    {{'当前日期为' + currentWeekOfSchool.schoolName + currentWeekOfSchool.termName + '第' + currentWeekOfSchool.currentWeek + '周' }}<br>
                </p>
            </ng-container>
            <ng-container *ngIf="currentWeekOfSchool.termName === '暂无学期安排'">
                <p style=" font-size: 16px;">
                    {{'当前日期' + currentWeekOfSchool.schoolName + currentWeekOfSchool.termName }}<br>
                </p>
            </ng-container>
        </ng-container>
    </div>
    <div class="mt-4 mb-4">
        <form class="form-inline" style="margin-top: 24px;width: 1000px;"(ngSubmit)="onSubmit()" [formGroup]="formGroup" >
            <!-- 查询日期 -->
            <input class="form-control datetimepicker-input" type="date" name="date" id="date" formControlName="date"/>
            <!-- 提交按钮 -->
            <div class="form-group col-md-2">
                <button type="submit" class="btn btn-outline-success" [disabled]="formGroup.invalid">&nbsp;<i class="fas fa-search"></i>查询</button>
            </div>
        </form>
 
    </div>
    <div class="col-md" style="margin-top: -149px;margin-left: 1106px;">
        <a type="submit" class="btn btn-primary" (click)="openAddDialog()">&nbsp;<span class="oi oi-plus"></span>添加钉钉机器人发送每日行程!</a>
    </div>
    <table class="table">
        <thead>
            <tr>
            <th class="th">时间</th>
                <ng-container *ngFor="let day of weekDates; index as index">
                <th class="th">{{getDayOfWeek(index)}}<br>{{day}}
                </ng-container>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let section of sectionNumber">
            <td >
                <ng-container [ngSwitch]="section">
                <p *ngSwitchCase="1">第一大节<br>(8:30 - 10:05)</p>
                <p *ngSwitchCase="2">第二大节<br>(10:30 - 12:00)</p>
                <p *ngSwitchCase="3">第三大节<br>(14:00 - 15:30)</p>
                <p *ngSwitchCase="4">第四大节<br>(16:30 - 18:00)</p>
                <p *ngSwitchCase="5">第五大节<br>(20:00 - 21:00)</p>
                </ng-container>
            </td>
            <ng-container *ngFor="let date of dateNumber">
                <td style="height: 158px;" id="monday-first">
                <ng-container *ngFor="let obj of PeopleHaveCourse">
                    <ng-container *ngIf="obj.time === date + '-' + section">
                        {{obj.user.name}}
                    </ng-container>
                </ng-container>
                </td>
            </ng-container>
            </tr>
        </tbody>
    </table>
</div>
