<div class="container-md main" style="margin-top: 120px;">
    <div>
        <ng-container *ngFor="let currentWeekOfSchool of currentWeekOfSchools">
            <ng-container *ngIf="currentWeekOfSchool.termName !== '暂无学期安排'">
                <p style=" font-size: 16px;">
                    {{'当前日期为' + currentWeekOfSchool.schoolName + currentWeekOfSchool.termName + '第' + currentWeekOfSchool.currentWeek + '周' }}<br>
                </p>
            </ng-container>
            <ng-container *ngIf="currentWeekOfSchool.termName === '暂无学期安排'">
                <p style=" font-size: 16px;">
                    {{'当前日期' + currentWeekOfSchool.schoolName + currentWeekOfSchool.termName }}<br>
                </p>
            </ng-container>
        </ng-container>
    </div>
    <div class="mt-4 mb-4">
        <form class="form-inline" style="margin-top: 24px;width: 1000px;"(ngSubmit)="onSubmit()" [formGroup]="formGroup" >
            <!-- 查询日期 -->
            <input class="form-control datetimepicker-input" type="date" name="date" id="date" formControlName="date"/>
            <!-- 提交按钮 -->
            <div class="form-group col-md-2">
                <button type="submit" class="btn btn-outline-success" [disabled]="formGroup.invalid">&nbsp;<i class="fas fa-search"></i>查询</button>
            </div>
        </form>
 
    </div>
    <div class="col-md" style="margin-top: -149px;margin-left: 1106px;">
        <a type="submit" class="btn btn-primary" (click)="openAddDialog()">&nbsp;<span class="oi oi-plus"></span>添加钉钉机器人发送每日行程!</a>
    </div>
    <div class="timetable" style="width: 1652px; margin-left: -115px;margin-top: 12px;">
        <div class="container" style="margin-left: 0px;">
            <div class="row mb-2" style="width: 2079px;">
                <div class="col-lg-1"></div>
                <div class="col-lg-1 time-col">星期一{{weekDates[0]}}</div>
                <div class="col-lg-1 time-col">星期二{{weekDates[1]}}</div>
                <div class="col-lg-1 time-col">星期三{{weekDates[2]}}</div>
                <div class="col-lg-1 time-col">星期四{{weekDates[3]}}</div>
                <div class="col-lg-1 time-col">星期五{{weekDates[4]}}</div>
                <div class="col-lg-1 time-col">星期六{{weekDates[5]}}</div>
                <div class="col-lg-1 time-col">星期日{{weekDates[6]}}</div>
            </div>
            <ng-container *ngFor="let section of sectionNumber">
                <div class="row mb-3" style="width: 2079px;margin-left: -33px;">
                    <ng-container [ngSwitch]="section">
                          <div class="col-lg-1 time-col" *ngSwitchCase="1" style="font-size: 20px;">第一大节<br>(8:30 - 10:05)</div>
                          <div class="col-lg-1 time-col" *ngSwitchCase="2" style="font-size: 20px;">第二大节<br>(10:30 - 12:00)</div>
                          <div class="col-lg-1 time-col" *ngSwitchCase="3" style="font-size: 20px;">第三大节<br>(14:00 - 15:30)</div>
                          <div class="col-lg-1 time-col" *ngSwitchCase="4" style="font-size: 20px;">第四大节<br>(16:30 - 18:00)</div>
                          <div class="col-lg-1 time-col" *ngSwitchCase="5" style="font-size: 20px;">第五大节<br>(20:00 - 21:00)</div>
                    </ng-container>
                    <ng-container *ngFor="let date of dateNumber">
                        <div class="col-lg-1  d-flex course-card math justify-content-center align-items-center" >
                            <div class="d-flex flex-column" style="width: fit-content;">
                                <ng-container *ngFor="let obj of PeopleHaveCourse">
                                    <ng-container *ngIf="obj.time === date + '-' + section">
                                        <div>{{obj.user.name}}<br></div>
                                    </ng-container>
                                </ng-container>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </ng-container>
        </div>
      </div>
</div>
