<div class="container-md main">
  <div class="col-md-8">
    <form class="form-inline d-flex justify-content-between" style="width: 1050px"
          (ngSubmit)="onSearchSubmit()">
      <div class="form-group mb-2">
        <label class="mr-2">学校：</label>
        <select class="form-control" [(ngModel)]="searchParameters.schoolId" (change)="onSchoolChange(searchParameters.schoolId)" name="school_id" id="school_id">
          <option [ngValue]="0">所有学校</option>
          <option *ngFor="let school of schools" [value]="school.id">
            {{school.name}}
          </option>
        </select>
      </div>
      <div class="form-group mb-2">
        <label class="mr-2">班级：</label>
        <select class="form-control" [(ngModel)]="searchParameters.klassId" (change)="onKlassChange(searchParameters.klassId)" name="clazz_id" id="clazz_id">
          <option [ngValue]="0">所有班级</option>
          <option *ngFor="let klass of klasses" [value]="klass.id">
            {{klass.name}}
          </option>
        </select>
      </div>
      {{ searchParameters.userId }}
      <div class="form-group mb-2">
        <label class="mr-2">用户：</label>
        <select class="form-control" [(ngModel)]="searchParameters.userId" name="user_id" id="user_id">
          <option [ngValue]="0">所有用户</option>
          <option *ngFor="let user of users" [value]="user.id">
            {{user.name}}
          </option>
        </select>
      </div>
      <div class="form-group mb-2">
        <label class="mr-2">学期：</label>
        <select class="form-control" [(ngModel)]="searchParameters.termId" (change)="onTermChange(searchParameters.termId)" name="term_id" id="term_id">
          <option [ngValue]="0">所有学期</option>
          <option *ngFor="let term of terms" [value]="term.id">
            {{term.name}}
          </option>
        </select>
      </div>
      <div class="form-group mb-2">
        <label class="mr-2">周数：</label>
        <select class="form-control" [(ngModel)]="searchParameters.week" name="week" id="week">
          <option [ngValue]=0>所有周数</option>
          <option *ngFor="let week of weeks" [value]="week">
            {{week}}
          </option>
        </select>
      </div>
      <div class="form-group mb-2">
        <button class="btn btn-success mb-2" type="submit"
                [disabled]="searchParameters.schoolId === 0 ||
                searchParameters.klassId === 0 ||
                searchParameters.termId === 0 ||
                searchParameters.week === 0 ">查询</button>
      </div>
    </form>
  </div>
  <div class="col-8">
    <div *ngIf="courseTable.length > 0">
      <table style="width: 1500px;margin-left: -200px">
        <thead>
        <tr>
          <th>节次/星期</th>
          <th *ngFor="let day of days; let i = index" class="multi-line-th">
            {{ day.name }} <br> {{ dates[i] }}
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let period of periods">
          <td>{{ period.name }}</td>
          <td *ngFor="let day of days">
            {{ courseTable[day.value - 1][period.value - 1] || '-' }}
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
