<div class="container-md main">
  <div class="col-md-8">
    <form class="form-inline d-flex justify-content-between" style="width: 1200px;margin-bottom: 20px;margin-left: -52px;"
          (ngSubmit)="onSearchSubmit()">
      <div class="form-group mb-2">
        <label class="mr-2">学校：</label>
        <select class="form-control" [(ngModel)]="searchParameters.schoolId" (change)="onSchoolChange(searchParameters.schoolId)" name="school_id" id="school_id">
          <option [ngValue]="0">所有学校</option>
          <option *ngFor="let school of schools" [value]="school.id">
            {{school.name}}
          </option>
        </select>
      </div>
      <div class="form-group mb-2">
        <label class="mr-2">班级：</label>
        <select class="form-control" [(ngModel)]="searchParameters.klassId" (change)="onKlassChange(searchParameters.klassId)" name="clazz_id" id="clazz_id">
          <option [ngValue]="0">所有班级</option>
          <option *ngFor="let klass of klasses" [value]="klass.id">
            {{klass.name}}
          </option>
        </select>
      </div>
      <div class="form-group mb-2">
        <label class="mr-2">学期：</label>
        <select class="form-control" [(ngModel)]="searchParameters.termId" (change)="onTermChange(searchParameters.termId)" name="term_id" id="term_id">
          <option [ngValue]="0">所有学期</option>
          <option *ngFor="let term of terms" [value]="term.id">
            {{term.name}}
          </option>
        </select>
      </div>
      <div class="form-group mb-2">
        <label class="mr-2">周数：</label>
        <select class="form-control" [(ngModel)]="searchParameters.week" name="week" id="week">
          <option [ngValue]=0>所有周数</option>
          <option *ngFor="let week of weeks" [value]="week">
            {{week}}
          </option>
        </select>
      </div>
      <div class="form-group mb-2">
        <label class="mr-2">用户：</label>
        <select class="form-control" [(ngModel)]="searchParameters.userId" name="user_id" id="user_id">
          <option [ngValue]="0">所有用户</option>
          <option *ngFor="let user of users" [value]="user.id">
            {{user.name}}
          </option>
        </select>
      </div>
      <div class="form-group mb-2">
        <button class="btn btn-success mb-2" type="submit"
                [disabled]="searchParameters.schoolId === 0 ||
                searchParameters.klassId === 0 ||
                searchParameters.termId === 0 ||
                searchParameters.week === 0 ">查询</button>
      </div>
    </form>
  </div>
  <div class="timetable" style="width: 1652px; margin-left: -278px;">
    <div class="container" style="margin-left: 0px;">
        <div class="row mb-2" style="width: 2079px;">
            <div class="col-lg-1"></div>
            <div class="col-lg-1 time-col">星期一{{dates[0]}}</div>
            <div class="col-lg-1 time-col">星期二{{dates[1]}}</div>
            <div class="col-lg-1 time-col">星期三{{dates[2]}}</div>
            <div class="col-lg-1 time-col">星期四{{dates[3]}}</div>
            <div class="col-lg-1 time-col">星期五{{dates[4]}}</div>
            <div class="col-lg-1 time-col">星期六{{dates[5]}}</div>
            <div class="col-lg-1 time-col">星期日{{dates[6]}}</div>
        </div>
        <ng-container *ngFor="let section of periods">
            <div class="row mb-3" style="width: 2079px;margin-left: -33px;">
                <ng-container [ngSwitch]="section.value">
                      <div class="col-lg-1 time-col" *ngSwitchCase="1" style="font-size: 20px;">第一大节<br>(8:30 - 10:05)</div>
                      <div class="col-lg-1 time-col" *ngSwitchCase="2" style="font-size: 20px;">第二大节<br>(10:30 - 12:00)</div>
                      <div class="col-lg-1 time-col" *ngSwitchCase="3" style="font-size: 20px;">第三大节<br>(14:00 - 15:30)</div>
                      <div class="col-lg-1 time-col" *ngSwitchCase="4" style="font-size: 20px;">第四大节<br>(16:30 - 18:00)</div>
                      <div class="col-lg-1 time-col" *ngSwitchCase="5" style="font-size: 20px;">第五大节<br>(20:00 - 21:00)</div>
                </ng-container>
                <ng-container *ngFor="let date of days">
                    <div class="col-lg-1  d-flex course-card math justify-content-center align-items-center" >
                        <div class="d-flex flex-column" style="width: fit-content;">
                          <ng-container *ngIf="courseTable[date.value - 1] !== undefined">
                            <div style="font-size: 18px;"> {{courseTable[date.value - 1][section.value - 1]}}<br></div>
                          </ng-container>
                        </div>
                    </div>
                </ng-container>
            </div>
        </ng-container>
    </div>
  </div>
</div>
