<div class="container-md main">
  <div class="col-8">
      <table style="width: 1500px;margin-left: -200px">
        <thead>
        <tr>
          <th>节次/星期</th>
          <th *ngFor="let day of days; let i = index" class="multi-line-th">
            {{ day.name }} <br> {{ dates[i] }}
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let period of periods">
          <td>{{ period.name }}</td>
          <td *ngFor="let day of days">
            {{ courseTable[day.value - 1][period.value - 1] || '-' }}
          </td>
        </tr>
        </tbody>
      </table>
  </div>
</div>
