<div class="container-md main">
  <div class="row">
    <div class="col-md-12">
      <form class="form-inline d-flex justify-content-between"
            (ngSubmit)="onSubmit(searchForm)" #searchForm="ngForm">
        <div class="form-group mb-2">
          <label class="mr-2">学校：</label>
          <app-school-select (selected)="onSchoolChange($event)" ></app-school-select>
          <!-- 默认提示选项 -->
        </div>
        <div class="form-group mb-2">
          <label class="mr-2">班级：</label>
          <!-- 默认提示选项 -->
          <select class="form-control" [(ngModel)]="searchParameters.klassId" name="klassId" id="klassId">
            <option [ngValue]="0">所有班级</option>
            <option *ngFor="let clazz of clazzes" [value]="clazz.id">
              {{clazz.name}}
            </option>
          </select>
        </div>
        <div class="form-group mb-2">
          <label class="mr-2">学期：</label>
          <!-- 默认提示选项 -->
          <select class="form-control" [(ngModel)]="searchParameters.termId" name="term_id" id="term_id">
            <option [ngValue]="0">所有学期</option>
            <option *ngFor="let term of terms" [value]="term.id">
              {{term.name}}
            </option>
          </select>
        </div>
        <div class="form-group mb-2">
          <label class="mr-2">课程：</label>
          <input name="name" type="text" class="form-control" style="width: 100px" placeholder="课程名称..."
                 [(ngModel)]="searchParameters.name">
        </div>
        <div class="form-group mb-2">
          <button class="btn btn-outline-success mb-2" type="submit">查询</button>
        </div>
      </form>
    </div>
    <div class="col-md-4 text-right" style="margin: -153px 0px 0px 1100px" >
      <a class="btn btn-primary" (click)="openAddDialog()"><span class="oi oi-plus"></span>新增</a>
    </div>
  </div>
  <br>
  <table class="table" style="width: 1450px">
    <thead>
    <tr>
      <th>序号</th>
      <th>学校名称</th>
      <th>班级名称</th>
      <th>学期</th>
      <th>课程名称</th>
      <th>类别</th>
      <th>上课周数</th>
      <th>周几上课</th>
      <th>第几节课</th>
      <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let course of pageData.content; index as i">
      <td>{{ i+1 }}</td>
      <td>{{ course.term.school?.name }}</td>
      <td>{{ course.klass.name }}</td>
      <td>{{ course.term.name }}</td>
      <td>{{ course.name }}</td>
      <td>{{ course.sory | sory}}</td>
      <td>{{ course.week }}</td>
      <td>{{ course.day }}</td>
      <td>{{ course.period }}</td>
      <td>
        <button *ngIf="course.sory === 0 && checkTheSameKlass(course.users[0])"  (click)="addLesson(course.id)" class="btn btn-sm btn-success">
          <span class="oi oi-plus"></span> 添加
        </button>
        <button  *ngIf="role !== 3" (click)="openEditDialog(course.id)" class="btn btn-sm btn-info button">
          <span class="oi oi-pencil"></span>编辑
        </button>
        <button *ngIf="role !== 3" (click)="onDelete(course)" class="btn btn-sm btn-danger">
          <span class="oi oi-trash"></span>删除
        </button>
      </td>
    </tr>
    </tbody>
  </table>
  <div *ngIf="pageData" class="row">
    <div class="col-4" id="pageInfo">
      第{{page + 1}}/{{pageData.totalPages}}页 每页{{size}}条
    </div>
    <div class="col-8">
      <nav>
        <ul class="pagination">
          <li class="page-item" [ngClass]="{'disabled': page === 0}" (click)="onPage(0)">
            <span class="page-link">首页</span>
          </li>
          <li class="page-item" [ngClass]="{'disabled': page === 0}" (click)="onPage(page - 1)">
            <span class="page-link">上一页</span>
          </li>
          <li class="page-item" [ngClass]="{'active': page === pageli}" *ngFor="let pageli of pages" (click)="onPage(pageli)">
            <span class="page-link" *ngIf="page  !== pageli">{{pageli + 1}}</span>
            <span class="page-link" *ngIf="page === pageli">{{pageli + 1}}<span class="sr-only">(current)</span></span>
          </li>
          <li class="page-item" [ngClass]="{'disabled': page === pageData.totalPages - 1}" (click)="onPage(page + 1)">
            <span class="page-link">下一页</span>
          </li>
          <li class="page-item" [ngClass]="{'disabled': page === pageData.totalPages - 1}" (click)="onPage(pageData.totalPages - 1)">
            <span class="page-link">尾页</span>
          </li>

        </ul>
      </nav>
    </div>
  </div>
</div>
