<div class="main">
  <h1>新增课程</h1>
  <hr>
  <form class="container-sm content">
    <ng-container *ngFor="let formGroup of formGroups; let i = index">
      <app-multiple-form-of-course (selected)="onChange($event)" [formGroup]="formGroups[i]"></app-multiple-form-of-course>
    </ng-container>
    <div class="mb-3 row" style="margin: 20px 0px 0px 0px">
      <div class="col-sm-3 offset-sm-1" style="margin: 0px 0px 0px 200px">
        <button appLoading class="btn btn-primary" (click)="onSubmit()" [disabled]="!checkAllFormGroups"><i class="fa fa-save"></i>保存
        </button>
      </div>
      <div class="col-sm-3 offset-sm-1">
        <button mat-button class="btn btn-secondary" (click)="onNoClick()">取消</button>
      </div>
      <button appLoading class="btn btn-primary" (click)="addForm()"><i class="fa fa-save"></i>添加更多课程格子
      </button>
    </div>
  </form>
</div>
