<div class="row justify-content-center">
  <div class="col-4">
    <h2>添加课程</h2>
    <form (ngSubmit)="onSubmit()" [formGroup]="formGroup">
      <div class="form-group">
        <label for="name">名称</label>
        <input type="text" class="form-control" id="name"
               placeholder="名称" formControlName="name" required>
      </div>
      <div class="form-group">
        <label>学校</label>
        <!-- 添加学校选择控件，例如下拉列表 -->
        <select class="form-control" formControlName="schoolId">

        </select>
      </div>
      <div class="form-group">
        <label>班级</label>
        <!-- 添加班级选择控件，例如下拉列表 -->
        <select class="form-control" formControlName="classId">

        </select>
      </div>
      <div class="form-group">
        <label>学期</label>
        <!-- 添加学期选择控件，例如下拉列表 -->
        <select class="form-control" formControlName="semester">
          <option value="spring">春季</option>
          <option value="summer">夏季</option>
          <option value="autumn">秋季</option>
          <option value="winter">冬季</option>
        </select>
      </div>
      <div class="form-group">
        <label>用户</label>
        <div>
          <app-user-multiple-select (changed)="onUserChange($event)"></app-user-multiple-select>
        </div>
      </div>
      <div class="form-group">
        <button type="submit" [disabled]="formGroup.invalid">保存</button>
      </div>
    </form>
  </div>
</div>
